
.container {
    display: flex;
    justify-content: space-around; /* Равномерное распределение элементов по горизонтали */
    
  }
  
  
  label {

    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    font-weight: bold; 
    font-size:50px;
    margin: 40px;
  }
  
  input[type="radio"]:checked + label {
    border: 2px solid rgb(0, 255, 200);
  }
  

  #num1 + label {
    background-color:rgb(0, 128, 0) ;
    order: 3;
  }
  
  #num2 + label {
    background-color:rgb(0, 0, 255) ;
    order: 4;
  }
  
  #num3 + label {
    background-color:rgb(0, 0, 255) ;
  }
  
  #num4 + label {
    background-color:rgb(255, 0, 0) ;
  }